<a href="https://colab.research.google.com/github/chandanakrishnan/Programming-logic/blob/main/8_Heterogenius_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Programing Logic**
> **Professor: Sthefanie Passo**

> **E-mail: sthefaniepasso@gmail.com**

##**Heterogenius Data Structures**

In Python, heterogeneous data structures refer to collections that can hold elements of different data types. The most commonly used heterogeneous data structures are lists and dictionaries.

## **Lists:**
A list in Python is an ordered collection that can contain elements of different data types. Here's an example of a heterogeneous list:

In [ ]:
hetero_list = [1, "hello", 3.14, True, [1, 2, 3]]

# Accessing elements
print(hetero_list[0])      # 1
print(hetero_list[1][3])   # "hello"
print(hetero_list[4][2])   # 3

1
l
3

In the above example, the hetero_list contains an integer, a string, a float, a boolean, and another list.

## **Dictionaries:**
A dictionary in Python is an unordered collection of key-value pairs. Each key is unique, and it can hold values of different data types. Here's an example of a heterogeneous dictionary:

In [ ]:
hetero_dict = {
    "name": "John",
    "age": 25,
    "is_student": True,
    "grades": [85, 90, 78],
    1: 2
}

# Accessing elements
print(hetero_dict["name"])         # "John"
print(hetero_dict["age"])          # 25
print(hetero_dict["grades"][0])    # 85
print(hetero_dict[1])

John
25
85
2

In [ ]:
# In a dictionary we can deleate keys
del hetero_dict[1]
print(hetero_dict)

{'name': 'John', 'age': 25, 'is_student': True, 'grades': [85, 90, 78]}

You can also declare a key and let it empty

In [ ]:
hetero_dict["student_loan"] = None
print(hetero_dict)
hetero_dict["student_loan"] = False
print(hetero_dict)

{'name': 'John', 'age': 25, 'is_student': True, 'grades': [85, 90, 78], 'student_loan': None}
{'name': 'John', 'age': 25, 'is_student': True, 'grades': [85, 90, 78], 'student_loan': False}

In the hetero_dict, keys are strings, and values can be strings, integers, booleans, or even lists.
Another example of hou to create dictionaries is:

In [ ]:
professor_dict = dict({
    "name" : "chansey",
    "age" : 25,
    "salary" : 80556.42,
    "level" : ["TA","GRA","Teacher Assisant","professor"],
    "class" : "true",
    1 :3
})

professor_dict# name, age, salary, level (TA, GRA, Teacher Assistent, Professor), class (true or false)

{'name': 'chansey',
 'age': 25,
 'salary': 80556.42,
 'level': ['TA', 'GRA', 'Teacher Assisant', 'professor'],
 'class': 'true',
 1: 3}

Create an algorithm that print all numbers from 0 to 100 in a cursive way.



```
input = output
25 = twenty five
20 = twenty
5 = five
12 = twelve

```

In [ ]:
units = dict({0:"zero",
          1:"one",
          2:"two",
          3:"three",
          4:"four",
          5:"five",
          6:"six",
          7:"seven",
          8:"eight",
          9:"nine"
          })
#dictionary for numbers 10 until 20
dezens = dict({10: "ten",
               20:"twenty",
               30:"thirdy",
               40:"forty",
               50:"fifty",
               60:"sixty",
               70:"seventy",
               80:"eighty",
               90:"ninety",
               100:"hundred"
               }) #dezens
#dictionary for numbers 11 until 19
tens = dict({10:"ten",
             11:"eleven",
             12:"twelve",
             13:"thirteen",
             14:"forteen",
             15:"fifteen",
             16:"sixteen",
             17:"seventeen",
             18:"eighteen",
             19:"nineteen"
             })

#input
input = 39 #int(input("enter the number to print in cursive:"))
for i in range(0,101):
  input = i          #0
  d = (input//10)*10 #0
  u = input%10       #0
  t = input          #0
  if(d>19 and d<=100):
    print(dezens[d], end = " ")
  if(t>=10 and t<=19):
    print(tens[input], end = " ")
  elif(u>0):
    print(units[u], end = " ")
  if(u==0 and t==0):
    print(units[u], end =" " )
  print(input)


#input the conditional statements and print it correctly
# 0-9
# if statement for numbers 10 until 20
# 20-100

zero 0
one 1
two 2
three 3
four 4
five 5
six 6
seven 7
eight 8
nine 9
ten 10
eleven 11
twelve 12
thirteen 13
forteen 14
fifteen 15
sixteen 16
seventeen 17
eighteen 18
nineteen 19
twenty 20
twenty one 21
twenty two 22
twenty three 23
twenty four 24
twenty five 25
twenty six 26
twenty seven 27
twenty eight 28
twenty nine 29
thirdy 30
thirdy one 31
thirdy two 32
thirdy three 33
thirdy four 34
thirdy five 35
thirdy six 36
thirdy seven 37
thirdy eight 38
thirdy nine 39
forty 40
forty one 41
forty two 42
forty three 43
forty four 44
forty five 45
forty six 46
forty seven 47
forty eight 48
forty nine 49
fifty 50
fifty one 51
fifty two 52
fifty three 53
fifty four 54
fifty five 55
fifty six 56
fifty seven 57
fifty eight 58
fifty nine 59
sixty 60
sixty one 61
sixty two 62
sixty three 63
sixty four 64
sixty five 65
sixty six 66
sixty seven 67
sixty eight 68
sixty nine 69
seventy 70
seventy one 71
seventy two 72
seventy three 73
seventy four 74
seventy five 75
seventy six 76
seventy seven 77
seventy eight 78
seventy nine 79
eighty 80
eighty one 81
eighty two 82
eighty three 83
eighty four 84
eighty five 85
eighty six 86
eighty seven 87
eighty eight 88
eighty nine 89
ninety 90
ninety one 91
ninety two 92
ninety three 93
ninety four 94
ninety five 95
ninety six 96
ninety seven 97
ninety eight 98
ninety nine 99
hundred 100

## **Tuple:**
A tuple is another data structure in Python that can be **heterogeneous**. Tuples are ordered and immutable, meaning **their elements cannot be changed after creation**:

In [ ]:
hetero_tuple = (1, "apple", 3.14, True)

# Accessing elements
print(hetero_tuple[0])
print(hetero_tuple[1])

1
apple

In [ ]:
#Tuple does not suport deletion neigther edition
del hetero_tuple[2]
print(hetero_tuple)

TypeError: ignored

In [ ]:
#Tuple does not suport deletion neigther edition
hetero_tuple[0] = 8

TypeError: ignored

Other examples:

In [ ]:
# Example of dictionary
a = [1,2,3,4]
b = [2,4,6,8]
c = {}
#c = {'student1': a,
#     'student2': b}
print("Modification 0:\n",c)

c['student1'] = a
print("Modification 1:\n", c)
c['student2'] = b
print("Modification 2:\n", c)
print(c['student2'][3])

Modification 0:
 {}
Modification 1:
 {'student1': [1, 2, 3, 4]}
Modification 2:
 {'student1': [1, 2, 3, 4], 'student2': [2, 4, 6, 8]}
8

In [ ]:
tuple1 = ("Sthefanie", 981195114, 0, 0.45)
print(tuple1)

('Sthefanie', 981195114, 0, 0.45)

## **Sets:**
Sets in Python are unordered collections of unique elements. While they are typically homogeneous, you can have a set of different data types:

In [ ]:
hetero_set = {1, "apple", 3.14, True}

# Note: Sets are unordered, so there's no index-based access
# You can check membership using 'in'
print("orange" in hetero_set)    # False

False

These examples illustrate how Python allows you to create and work with heterogeneous data structures like lists, dictionaries, tuples, and sets, providing flexibility in handling different types of data within a single collection.

Other examples of set:

In [ ]:
example_set = {1,2,3,4,1}
example_set

{1, 2, 3, 4}

In [ ]:
s = set([])
s

set()

In [ ]:
s.add(1)
s.add(2)
s.add(1)
s

{1, 2}

In [ ]:
nome_do_set1 = set([1, 2, 4, 1, 5, 5, 3])
nome_do_set1

{1, 2, 3, 4, 5}

Referências:

[Principais Estruturas de Dados no Python](https://www.treinaweb.com.br/blog/principais-estruturas-de-dados-no-python/)

[Estruturas de dados Heterogêneas(struct)](https://www.codingame.com/playgrounds/24988/programacao-c/estrutura-de-dados-heterogenea-struct)

## Exercices
1. Digit an algorithm that receive a binary bases number range 000 until 111 and write the string of the number in decimal.



```
000 = (0 * 2^2) + (0 * 2^1) + (0 * 2^0) = 0+0+0 = 0 = zero
101 = (1 * 2^2) + (0 * 2^1) + (1 * 2^0) = 4+0+1 = 5 = five
111 =  (1* 2^2) + (1 * 2^1) + (1 * 2^1) = 4+1+2 = 7 = seven
```

In [ ]:
input = '111' #(input("Enter the number: "))
      #  012
print(input[0],input[1],input[2])
binary_sum = (int(input[0])*2**2)
#binary_sum = (int(input[0])*2**2)+int((input[1])*2**1)+int((input[2])*2**0) # n^3 = n**3

print(binary_sum)

1 1 1
16

2. Write a code with a dictionary with range 0 to 15 and the value is the square of the key



```
dictionary = {1:1, 2:4, 3:9 ...15:225}

```

To add elements in a dictionary we can do:


```
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)
```

In [ ]:
square ={}
for i in range (1,16):
  square[i] = i*i
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
table5 = {}
for i in range(0,11):
  table5[i] = i*5
print(table5)

{0: 0, 1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}

3. Write a code where you concatenate 3 dictionaries:


```
Input:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

Output :
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
from collections import ChainMap
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dict4 = ChainMap(dic1, dic2, dic3)
print(dict4)

ChainMap({1: 10, 2: 20}, {3: 30, 4: 40}, {5: 50, 6: 60})

In [ ]:
def Merge(dic1, dic2, dic3):
  res = dic1 | dic2 | dic3
  return res

dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic4 = Merge(dic1, dic2,dic3)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic4 = dic1 | dic2 | dic3
#overload the operator
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Write a Python program to return a new set with unique items from both sets by removing duplicates.



```
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

Output:
{70, 40, 10, 50, 20, 60, 30}
```

Hint: Use the union() method of a set.
**d1.union(d2)**

5. Return a new set of identical items from two sets


```
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

Output:
{40, 50, 30}
```

Hint: Use the intersection() method of a set.

6. Remove items from set1 that are not common to both set1 and set2



```
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

Output:
{40,50,30}
```

Hint: Use the intersection_update() method of a set.

7. Write a Python program to check whether an element exists within a tuple.

8. Write a Python program to convert a list to a tuple.

9 .Write a Python program to print a tuple with string formatting.


```
Input:
(100, 200, 300)

Output:
This is a tuple (100, 200, 300)
```

10. Write a Python program to remove an empty tuple(s) from a list of tuples.


```
Input:
[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

Output:
[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']
```